.dart_tool/
.idea/
.vscode/
.packages
build/
pubspec.lock
doc/api/
.env*

*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

